<script setup></script>

<template>

  <header>

    <div class="wrapper">
      <div>
        <RouterLink to="/">Listing</RouterLink>
      </div>
      <div>
        <RouterLink to="/login">Login</RouterLink>
      </div>
    </div>

  </header>

  <hr/>

  <div class="view">
    <RouterView />
  </div>

</template>

<script>

export default {

  name: 'App',

  data() {
    return {
    };
  }
}

</script>

<style scoped>

header {

  margin: 20px;
}

div.view {
  margin: 20px;
}

</style>
