<script setup>
import axios from 'axios'
import observer from '@/assets/Observer.js'
</script>

<template>

  <h1>Listings</h1>

  <div v-if="items.length==0" >No items</div>

  <ul v-if="items.length>0">
    <li v-for="item in items">
      {{item}}
    </li>
  </ul>

  <div class="newEntry" v-show="loggedIn">
    <input v-model="newEntry" placeholder="new entry"/><button @click="addEntry">Send</button>
  </div>

</template>

<script>

export default {

  name: 'Listing',

  data() {
    return {
      items: [],
      newEntry: '',
      loggedIn: false
    };
  },

  mounted() {

    observer.listen('login', (token)=>{
      this.loggedIn = true;
    });

    observer.listen('logout', (token)=>{
      this.loggedIn = false;
    });

    this.loadList();
  },

  created() {
    this.loggedIn = this.$root.isLoggedIn();
    console.log('loggedIn', this.loggedIn);
  },

  methods: {

    loadList() {
      axios.get('/list')
          .then( response=>{
            this.items = response.data;
          });
    },

    addEntry() {

      this.newEntry = this.newEntry.trim();

      if ( this.newEntry == '' ) {
        return;
      }

      axios.post( '/entry', { entry: this.newEntry } )
      .then( response=>{

        this.newEntry = '';
        this.loadList();
      } );
    }
  }
}

</script>

<style scoped>

div.newEntry {
  margin-top: 20px;
}



</style>