<script setup>
import observer from '@/assets/Observer.js';
</script>

<template>

  <div>Message: {{message}}</div>

  <div v-if="!loggedIn">
    <form>
      <div><input v-model="user" placeholder="user" /></div>
      <div><input type="password" v-model="password" placeholder="password" /></div>
      <button @click.prevent="login($event)">Login</button>
    </form>
  </div>

  <div v-else>
    <button @click.prevent="logout">Logout</button>
  </div>

</template>

<script>

import axios from "axios";

export default {

  name: 'Login',

  data() {
    return {
      user: '',
      password: '',
      message: '-',
      loggedIn: false
    }
  },

  mounted() {

    this.loggedIn = localStorage.getItem('token') != null;

    observer.listen('login', ()=> {
      this.loggedIn = true;
      this.password = '';
    });

    observer.listen('logout', ()=> {
      this.loggedIn = false;
    });
  },

  methods: {

    login(event) {

      this.message = '...logging in...';

      if ( this.user.trim() == '' || this.password.trim() == '' ) {
        this.message = 'no full credentials';
        return;
      }

      axios.post('/login', { user: this.user, password: this.password })
      .then(
          response=>{

            this.message = '';
            localStorage.setItem( 'token', response.data );

            console.log('isLoggedIn', this.$root.isLoggedIn(), localStorage.getItem('token'));
            observer.inform('login', response.data);
          },
          error=>{
            console.log( error );
            this.message = ''+error; //error.response.status +' - '+ error.response.data.error;
            this.password = '';
          }
      );
    },

    logout() {

      console.log('logout', localStorage.getItem('token'));

      axios.post('/log-out', { token: 'TKN' })
          .then( response=>{
            console.log('logout success', response);
          })
          .finally( ()=>{

            const token = localStorage.getItem('token');
            localStorage.removeItem('token');

            observer.inform('logout', token);
          });
    }
  }
}
</script>

<style lang="scss" scoped>
</style>